In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import linregress
import seaborn as sns
from sqlalchemy import create_engine

## Convert the Excel to CSV and store in a DataFrame

In [2]:
#Read excel file 
QB_RB_WR_TE_file = "./data/QB_RB_WR_TE.xlsx"
kicker_file = "./data/Kicker.xlsx"
Defense_special_teams_file = "./data/Defense_Special_teams.xlsx"
print(QB_RB_WR_TE_file)

./data/QB_RB_WR_TE.xlsx

In [8]:
# engine = 'openpyxl' allows conversion of excel into csv file
qrwt_df = pd.read_excel(QB_RB_WR_TE_file, engine = 'openpyxl')
qrwt_df.to_csv ("./data/QB_RB_WR_TE.csv", index = None,  header=True) 
qrwt_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Passing,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Rushing,Unnamed: 10,Unnamed: 11,Unnamed: 12,Receiving,Unnamed: 14,Unnamed: 15,Unnamed: 16,Fumbles,Unnamed: 18
0,Player,Bye,Pts*,Att,Cmp,Yds,TD,Int,2Pt,Att,Yds,TD,2Pt,Rec,Yds,TD,2Pt,FL,TD
1,Josh Allen,7,460,646,409,4407,36,15,1,122,763,6,1,0,0,0,1,3,0
2,Tom Brady,9,454,719,485,5316,43,12,0,28,81,2,0,0,0,0,0,3,0
3,Justin Herbert,7,442,672,443,5014,38,15,5,63,302,3,0,0,0,0,1,1,0
4,Patrick Mahomes,12,428,658,436,4839,37,13,1,66,381,2,1,0,0,0,0,4,0

In [7]:
kicker_df = pd.read_excel(kicker_file, engine = 'openpyxl')
kicker_df.to_csv ("./data/kicker.csv", index = None,  header=True) 
kicker_df.head()

           Player   Bye   Pts*   XPA   XPM   FGA   FGM  50+
0  Daniel Carlson   8.0  162.0  33.0  30.0  43.0  40.0  6.0
1       Nick Folk  14.0  160.0  47.0  42.0  39.0  36.0  5.0
2        Matt Gay  11.0  152.0  49.0  48.0  34.0  32.0  4.0
3   Chris Boswell   7.0  151.0  29.0  27.0  40.0  36.0  8.0
4     Matt Prater  12.0  151.0  49.0  47.0  37.0  30.0  7.0

In [6]:
dst_df = pd.read_excel(kicker_file, engine = 'openpyxl')
dst_df.to_csv ("./data/defense_special_teams.csv", index = None,  header=True) 
dst_df.head()

           Player   Bye   Pts*   XPA   XPM   FGA   FGM  50+
0  Daniel Carlson   8.0  162.0  33.0  30.0  43.0  40.0  6.0
1       Nick Folk  14.0  160.0  47.0  42.0  39.0  36.0  5.0
2        Matt Gay  11.0  152.0  49.0  48.0  34.0  32.0  4.0
3   Chris Boswell   7.0  151.0  29.0  27.0  40.0  36.0  8.0
4     Matt Prater  12.0  151.0  49.0  47.0  37.0  30.0  7.0

## Explore the Data

In [14]:
# qrwt_df.describe()
dst_df.count()

Player    48
Bye       47
Pts*      47
XPA       47
XPM       47
FGA       47
FGM       47
50+       47
dtype: int64